<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets for the NBAs most confusing team</title>
</head>
<body>
    <h1>Denver Nuggets</h1>
    <form action="/formSubmission" method="POST">
    {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="text">Name</label>
        <input type="text" name="name" id="name">
        <label for="number">No. of Tickets</label>
        <input type="number" name="numberoftickets" id="numberoftickets">
        <input type="submit" value="Submit">
    </form>
</body>
</html>