<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
</head>
<body>
    <div id="goback">
        <a href="/shows">Go Back</a>
    </div>
    <h1>Edit Show {{show.id}}: {{show.title}}</h1>

    <div class="container">
        <form action="/shows/{{show.id}}/update" method="post">
        {% csrf_token %}
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <label for="network">Network</label>
            <input type="text" name="network" id="network">
            <label for="reldate">Release Date</label>
            <input type="date" name="reldate" id="reldate">
            <label for="desc">Description</label>
            <input type="text" name="desc" id="desc">
            
            <input type="submit" value="Update">
        </form>
        <a href="/shows/{{show.id}}">Go to Show</a>
    </div>
</body>
</html>