<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Course</title>
</head>
<body>
    <h2>Are you sure you want to delete the following course?</h2>
    <h4>Name: <p>{{course.name}}</p></h4>
    <h4>Description: <p>{{course.desc.content}}</p></h4>
    <form action="/courses/{{course.id}}/delete" method="post">
    {% csrf_token %}
        <input type="submit" value="Yes">
    </form>
    <button><a href="/">No</a></button>

</body>
</html>